# 1. Ignorar todos los archivos y carpetas en este directorio
/*

# 2. Excluir de la ignorancia (es decir, INCLUIR) las carpetas que quieres
!/frontend/
!/backend/
!MinIo/

# 3. Incluir también este mismo archivo .gitignore
!.gitignore
